.page-navigation {
    margin-bottom: 10px;
}


.box-container {
    display: flex;
}

.content-left {
    width: 70%;
}

.content-left-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1D293F;
}

.content-left-description {
    margin-top: 10px;
    font-size: 15px;
    line-height: 21px;
    color: #32363D;
    border-bottom: 0.5px solid #ADADAD;
    min-height: 194px;
}



.content-right {
    width: 30%;
    margin-left: 65px;
}

.content-right-box {
    width: 100%;
    height: 241px;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 26px 22px 30px 22px;
}

.content-right-box-description {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    color: #32363D;
}

.btn-order-ticket {
    width: 100%;
    margin-top: 15px;
    height: 56px;
    background: #0070B4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.btn-contact a{
    text-decoration: none;
    display: flex;
    color: #0070B4;
    align-items: center;
    justify-content: center;
}

.btn-contact {
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    height: 56px;
    background: #F3F3F3;
    border: 2px solid #0070B4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.btn-contact img {
    margin-right: 18px;
}

/* các thẻ xe */

.car-service-container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -10px 74px -10px;
}

.car-service-card {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

}

.car-service-card-item {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 10px 11px 20px 11px;
}

.car-service-card-item a > img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
    
}

.car-service-card-item a {
    text-decoration: none;
}

.car-service-card-item > a:hover > span {
    color: #125E90;
}

.car-service-card-item a > span {
    margin: 8px 0 15px 11px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
    height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.car-extra-infor {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px;
}

.car-extra-infor span {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #737373;
}

.car-extra-infor img {
    margin-right: 9px;
}

/* form đặt đặt phòng */

.title-plane {
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
    text-align: center;
    color: #125E90;
    text-transform: uppercase;
    margin-top: -8px;
    margin-bottom: 18px;
}

.label-form {
    font-size: 14px !important;
    line-height: 17px;
    color: #333333 !important;
}

.modal-header {
    justify-content: end;
    padding: 5px 15px 0 0 !important;
}

.modal-header button {
    font-size: 35px !important;
    color: #D80027 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.modal-body {
    padding: 0 15px;
}

.form-group {
    margin-bottom: 5px;
}

textarea {
    height: 70px;
    resize: none;
}

.form-control {
    padding: 8px 12px;
    
}

.form-control.arrow {
    position: relative;
}

