.page-navigation {
    margin-bottom: 10px;
}


.box-container {
    display: flex;
    justify-content: flex-end;
}

.content-left-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1D293F;
}

.content-left-description {
    margin-top: 10px;
    font-size: 15px;
    line-height: 21px;
    color: #32363D;
    border-bottom: 0.5px solid #ADADAD;
    min-height: 194px;
}



.content-right {
    margin-left: 65px;
}

.content-right-box {
    width: 341px;
    height: 241px;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 26px 22px 30px 22px;
}

.content-right-box-description {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    color: #32363D;
}

.btn-order-ticket {
    width: 100%;
    margin-top: 15px;
    height: 56px;
    background: #0070B4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    height: 56px;
    background: #F3F3F3;
    border: 2px solid #0070B4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #0070B4;
    font-size: 16px;
    font-weight: 600;
}

.btn-contact img {
    margin-right: 18px;
}

/* các thẻ xe */

.car-service-container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -10px 74px -10px;
}

.car-service-card {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

}

.car-service-card-item {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 10px 11px 20px 11px;
}

.car-service-card-item > img {
    width: 100%;
    height: 210px;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
    
}

.car-service-card-item a {
    text-decoration: none;
}

.car-service-card-item a > span {
    margin: 8px 0 15px 11px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
    height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.car-extra-infor {
    display: flex;
}

.car-extra-infor span {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #737373;
    margin-right: 40px;
}

.car-extra-infor img {
    margin-right: 9px;
}
