@media (min-width: 768px) and (max-width: 991px) {
    .body-content-infor {
        display: block;
    }

    .body-content-left {
        width: 100%;
    }

    .card__box-item img.card__box-item-img {
        height: auto;
    }

    .box-contact-mobile {
        display: block;
    }
}

@media (max-width: 767px) {
    /* detail_holtel */

    .images-container {
        height: auto;
    }

    .card-image:first-child {
        width: calc(100% - 8px);
    }

    .card-image {
        width: calc(33% - 4px);
        height: calc(215px / 2)

    }

    .body-content-infor {
        display: block;
    }

    .body-content-left {
        width: 100%;
    }

    .card-wrapper {
        width: 100%;
    }

    .box-contact-mobile {
        display: block;
        width: 100%;
    }

}

@media (max-width: 380px) {
    .card__box-item {
        width: 100%;
    }
}