.page-navigation {
    margin-bottom: 10px;
}


.box-container {
    display: flex;
}

.content-left-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1D293F;
}

.content-left-description {
    margin-top: 10px;
    font-size: 15px;
    line-height: 21px;
    color: #32363D;
    border-bottom: 0.5px solid #ADADAD;
    min-height: 194px;
}



.content-right {
    width: 30%;
    margin-left: 65px;
}

.content-left {
    width: 70%;
}

.content-right-box {
    width: 100%;
    height: 241px;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 26px 22px 30px 22px;
}

.content-right-box-description {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    color: #32363D;
}

.btn-order-ticket {
    width: 100%;
    margin-top: 15px;
    height: 56px;
    background: #0070B4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.btn-contact a{
    text-decoration: none;
    display: flex;
    color: #0070B4;
    align-items: center;
    justify-content: center;
}

.btn-contact {
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    height: 56px;
    background: #F3F3F3;
    border: 2px solid #0070B4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.btn-contact img {
    margin-right: 18px;
}

.event-service-title {
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-top: 35px;
}

.event-service-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 90px -10px;
}

.event-service-card {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;

}

.event-service-card-item {
    width: 100%;
    height: 100%;
}

.event-service-card-item a {
    text-decoration: none;
}

.event-service-card-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event-service-card-item span {
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 600;
    height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.event-service-card-item > a:hover span {
    color: #125E90;
}

/* form tổ chức sự kiện */

.title-plane {
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
    text-align: center;
    color: #125E90;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}

.label-form {
    font-size: 14px !important;
    line-height: 17px;
    color: #333333 !important;
}

.modal-header {
    justify-content: end;
    padding: 5px 15px 0 0 !important;
}

.modal-header button {
    font-size: 35px !important;
    color: #D80027 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.modal-body {
    padding: 0 35px;
}

textarea {
    height: 96px;
    resize: none;
}

.form-control {
    padding: 8px 12px;
    
}

.form-control.arrow {
    position: relative;
}

