@media (min-width: 768px) and (max-width: 991px) {
    .box-container {
        display: block;
    }

    .content-right,
    .content-left {
        width: 100%;
    }

    .content-left-description {
        border-bottom: unset;
    }

    .content-right-box {
        width: 40%;
    }

    .content-right {
        margin-left: 0;
        display: flex;
        justify-content: end;
        border-bottom: 0.5px solid #ADADAD;
        padding-bottom: 15px;
    }

    .event-service-card {
        width: 33.3333%;
    }
}