@media (min-width: 992px) and (max-width: 1199px) {

    /* General----------- */
    .section_container,
    .footer-top,
    .footer-bottom,
    .header__bottom,
    .header__top-nav {
        padding: 0 15px;
    }

    .footer-img-plane {
        right: 15px;
    }

    .tour_container {
        padding: 0 15px;
    }

    .header__top-left span {
        display: none;
    }

    .card__box-item img.card__box-item-img {
        height: auto;
    }
}



@media (min-width: 768px) and (max-width: 991px) {

    .d_none {
        display: none;
    }

    .section_container,
    .footer-top,
    .footer-bottom,
    .header__bottom {
        padding: 0 15px;
    }

    .header__top-nav {
        display: none;
    }

    .footer-img-plane {
        right: 15px;
    }

    .header__top-left span {
        display: none;
    }

    /* Header nav mobile & tablet */

    .header__top {
        position: fixed;
        height: 70px;
        z-index: 1020;
        box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    }

    .header__top-mobile {
        height: 70px;
        width: 100vw;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1020;
        background: #fff;
    }

    .background-on-top {
        margin-top: 70px;
    }


    /* Menu màn hình nhỏ */
    .menu-small-display {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.2);
    }

    .menu-small-display-container {
        background: #fff;
        width: 40%;
        height: 100vh;
        transition: 0.5s;
    }

    .hide_menu {
        margin-left: -40%;
    }
    .hide_layer {
        visibility: hidden;
    }

    .menu-small-display-list {
        list-style: none;
    }

    .menu-small-display-list-item {
        padding: 10px 0 10px 30px;
        border-bottom: 1px solid #dadada;
    }

    .menu-small-display-list-item a {
        text-decoration: none;
        color: inherit;
    }

    .menu-small-display-list-item > a {
        text-decoration: none;
        display: inline-block;
        width: 100%;
    }

    .menu-small-display-list-item > a:hover {
        color: #0070B4;
        font-weight: 600;
    }

    .icon-menu {
        padding: 10px 20px;
        background: #efefef;
        float: right;
        width: 60px;
        text-align: center;
    }

    .menu-small-display-list-item.active {
        background: #efefef;
    }

    .submenu-mobile-item > a {
        display: block;
    }

    .submenu-mobile-item > a:hover {
        color: #0070B4;
        font-weight: 600;
    }

    .header__top-menu-icon #btn-menu-top {
        font-size: 24px;
        padding: 15px;
    }

    .submenu-mobile-list {
        list-style: none;
        display: none;
    }

    .submenu-mobile-item {
        padding: 8px 15px;
    }

    .has-submenu {
        padding-top: 0;
        padding-bottom: 0;
    }

    .has-submenu > a{
        line-height: 36px;
        width:calc(100% - 60px);
    }






    .header__top-logo {
        width: 50px;
        height: 50px;
    }

    .header__top-logo img{
        width: 100%;
        height: 100%;
    }

    .header__top-user {
        margin-right: 15px;
    }

    .header__top-user a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    /* footer --------------------- */

    .footer {
        overflow: hidden;
        height: 100%;
    }

    .footer-top {
        position: unset;
        display: flex;
        flex-wrap: wrap;
        top: 0;
        padding-top: 35px;
    }

    .footer-bottom {
        position: unset;
        padding: 15px 15px 35px;
    }


    .footer-top-branch {
        width: 100%;
    }

    .footer-top-contact,
    .footer-top-our-service,
    .footer-top-our-customer{
        margin-left: 0;
        width: 33.3333%;
        
    }

    .footer-top-our-service {
        padding-left: 60px;
    }

    .footer-top-our-customer {
        padding-left: 30px;
    }


    /* introduction */

    .content-about {
        padding: 0 15px;
    }

    .background-bottom {
        height: 360px;
    }

    .content-about-item {
        width: 33.3333%;
    }

    .content-about-item h5 {
        height: 50px;
    }

    .content-about-item p {
        padding: 0 15px;
    }

    /* contact page */

    .form-contact {
        display: block;
    }

    .form-contact-img {
        width: 100%;
    }

    .form-contact-img img {
        width: 100%;
        height: 300px;  
        object-fit: cover; 
    }

    .form-contact-content {
        width: 100%;
        margin: 30px 0;
    }

    .contact-form-input input {
        width: 50% ;
    }

    .contact-phone {
        margin-right: 100px;
    }

    .clearfix:after{
        clear: both;
        content: "";
        display: block;
        width: 0px;
        height: 0px;
    }

}

@media (max-width: 767px) {

    .d_none {
        display: none;
    }

    .header__top-nav {
        display: none;
    }

    .section_container,
    .footer-top,
    .footer-bottom,
    .header__bottom {
        padding: 0 15px;
    }

    /* header */
    .header__top {
        position: fixed;
        height: 70px;
        z-index: 1020;
        box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    }

    .header__top-mobile {
        height: 70px;
        width: 100vw;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1020;
        background: #fff;
    }

    .background-on-top {
        margin-top: 70px;
    }


     /* Menu màn hình nhỏ */
    .menu-small-display {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.2);
    }

    .menu-small-display-container {
        background: #fff;
        width: 70%;
        height: 100vh;
        transition: 0.5s;
    }

    .hide_menu {
        margin-left: -70%;
    }
    .hide_layer {
        visibility: hidden;
    }

    .menu-small-display-list {
        list-style: none;
    }

    .menu-small-display-list-item {
        padding: 10px 0 10px 30px;
        border-bottom: 1px solid #dadada;
    }

    .menu-small-display-list-item a {
        text-decoration: none;
        color: inherit;
    }

    .menu-small-display-list-item > a {
        text-decoration: none;
        display: inline-block;
        width: 100%;
    }

    .menu-small-display-list-item > a:hover {
        color: #0070B4;
        font-weight: 600;
    }

    .icon-menu {
        padding: 10px 20px;
        background: #efefef;
        float: right;
        width: 60px;
        text-align: center;
    }

    .menu-small-display-list-item.active {
        background: #efefef;
    }

    .submenu-mobile-item > a {
        display: block;
    }

    .submenu-mobile-item > a:hover {
        color: #0070B4;
        font-weight: 600;
    }

    .header__top-menu-icon #btn-menu-top {
        font-size: 24px;
        padding: 15px;
    }

    .submenu-mobile-list {
        list-style: none;
        display: none;
    }

    .submenu-mobile-item {
        padding: 8px 15px;
    }

    .has-submenu {
        padding-top: 0;
        padding-bottom: 0;
    }

    .has-submenu > a{
        line-height: 36px;
        width:calc(100% - 60px);
    }


    .header__top-logo {
        width: 50px;
        height: 50px;
    }

    .header__top-logo img{
        width: 100%;
        height: 100%;
    }

    .header__top-user {
        margin-right: 15px;
    }

    .header__top-user a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .icon-arrow-down {
        margin-left: 3px;
    }

      /* footer */

    /* .footer-img-bottom-l,
    .footer-img-bottom-s, */
    .footer-img-plane {
        display: none;
    }

    .footer-img-bottom-l-left img, .footer-img-bottom-l-right img {
        height: 80px;
        object-fit:cover;
    }

    .footer-top-branch {
        width: 100%;
    }

    .footer-top-branch img {
        width: 50px;
        height: 50px;
    }

    .footer {
        height: auto;
    }

    .footer-top {
        display: block;
        position: unset;
        margin-top: 40px;
    }

    .footer-bottom {
        display: block;
        position: unset;
    }

    .footer-top-contact {
        width: 100%;
        margin-left: 0;
    }

    .footer-top-our-service,
    .footer-top-our-customer {
        width: 50%;
        float: left;
        margin: 0;
    }

    .footer-top-our-customer {
        padding-left: 20px;
    }

    .footer-bottom {
        margin: 20px 0 30px;
    }

    .footer-bottom-right {
        margin-top: 10px;
    }

    .clearfix:after{
        clear: both;
        content: "";
        display: block;
        width: 0px;
        height: 0px;
    }


    .introduction-box {
        display: block;
    }
    .introduction-content {
        width: 100%;
    }

    .introduction-img {
        width: 100%;
    }

    .introduction-img-box {
        width: 80%;
        margin: 50px auto 0;
        height: 200px;
    }

    .content-about {
        display: block;
        margin-top: 0;
    }

    .content-about-item {
        width: 100%;
        margin-top: 33px;
    }

    .content-about-item p {
        width: 90%;
        margin: 0 auto;
    }

    .content-about-item h5 {
        width: 283px;
        margin: 10px auto;
    }

    .introduction-box-why {
        height: auto;
        padding: 0 15px;
    }

    .background-on-top img {
        height: 200px;
        object-fit: cover;
    }

    .background-bottom {
        height: 200px;
    }

    .introduction-box-why-content {
        padding-bottom: 30px;
    }

    .modal-content {
        width: calc(100% - 30px);
    }

    /* contact page */

    .form-contact {
        display: block;
    }

    .form-contact-img {
        width: 100%;
    }

    .form-contact-img img {
        width: 100%;
        height: 200px;  
        object-fit: cover; 
    }

    .form-contact-content {
        width: 100%;
        margin: 30px 0;
    }

    .contact-form-input {
        display: block;
        gap: unset;
        margin-top: 0;
    }

    .contact-form-input input {
        width: 100% ;
        margin-bottom: 10px;
    }

    .contact-form textarea {
        margin-top: 0;
    }

    .contact-box {
        display: block;
    }

    .contact-address {
        margin-bottom: 12px;
    }

    .contact-phone {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .map-location {
        height: 300px
    }

    

}