.page-navigation {
    margin-bottom: 23px;
}

.introduction-title span{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1D293F;
}

.introduction-box {
    display: flex;
    margin-top: 18px;
    margin-bottom: 80px;
}

.introduction-content {
    width: 50%;
    font-size: 15px;
    line-height: 21px;
    color: #32363D;
    margin-right: 82px;
}

.introduction-img {
    width: 50%;
    
}

.introduction-img-box {
    width: 100%;
    height: 353px;
    border: 1px solid #0070B4;
    margin-left: -29px;
    position: relative;
}

.introduction-img-main {
    position: absolute;
    z-index: -1;
    right: -29px;
    top: -28px;
    bottom: 28px;
    left: 29px;
}

.introduction-img-main img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.introduction-img-extra {
    width: 265px;
    height: 168px;
    background: #fff;
    padding: 10px;
    position: absolute;
    bottom: -29px;
    left: -36px;
}

.introduction-img-extra img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.introduction-box-why {
    width: 100%;
    height: 368px;
    background-repeat: no-repeat;
    position: relative;
}

.introduction-box-why::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 186, 201, 0.1);
    z-index: -1;
}

.introduction-box-why-content {
    display: block;

    width: 100%;
    height: 100%;
    text-align: center;
}

.content-title {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1D293F;
    padding-top: 49px;
    font-weight: 600;
}

.content-about {
    margin-top: 33px;
    display: flex;
    justify-content: space-around;
}

.content-about-item {
    width: 284px;
}

.content-about-item h5 {
    width: 100%;
    margin-top: 12px;
    padding: 0 77px;
    font-size: 16px;
    line-height: 20px;
    color: #1D293F;
}

.modified-title {
    padding: 0 88px !important;
}

.content-about-item p {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #1D293F;
    margin-top: 22px;
}

.background-bottom {
    width: 100%;
    height: 444px;
}

.background-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}