.page-navigation {
    margin-bottom: 11px;
}

.news-title {

}

.news-title span {
    font-weight: 600;
    font-size: 28px;
    color: #1D293F;
}

.news-box-top {
    display: flex;
    gap: 24px;
}

.news-box-top-img {
    position: relative;
}

.news-box-top-img > img{
    height: 320px;
    object-fit: cover;


}

.news-box-top-content a{
    text-decoration: none;
}

.news-box-top-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #fff;
    padding: 21px 25px 25px;
    width: 350px;
}

.news-box-top-content h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #32363D;
}

.news-box-top-content-time {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.news-box-top-content-time span {
    font-size: 12px;
    line-height: 14px;
    color: #848484;
    margin-left: 6px;
}

.news-box-container {
    display: flex;
    justify-content:space-between;
    margin-bottom: 40px;
}
.news-box-left {
    width: 768px;
    margin-top: 10px;
}

.news-item {
    display: flex;
    margin-top: 20px;
}

.news-item-img {
    width: 306px;
    height: 160px;
    object-fit: cover;
}

.news-item-content {
    margin-left: 20px;
}

.news-item-content a {
    text-decoration: none;
}

.news-item-content h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #32363D;
    margin-bottom: 10px;
}

.news-item-content p {
    font-size: 15px;
    line-height: 22px;
    color: #2F2F2F;
}

.content-time {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.content-time img {
    margin-right: 6px;font-size: 12px;
}

.content-time span {
    font-size: 12px;
    color: #737373;
}

.news-box-right {
    width: 285px;
    margin-top: 25px;
}

.news-box-right img {
    width: 100%;
    height: 90.98px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
}

/* Phân trang */

.pagination {
    margin-bottom: 66px;
}

.pagination-wraper{
    display: flex;
    align-items: center;
    width: fit-content;
    border-top: 1px solid #EBE9E9;
    border-left: 1px solid #EBE9E9;
    border-bottom: 1px solid #EBE9E9;
 }
 
 .pagination-wraper .pagination-item {
    position: relative;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    text-align:center;
    line-height: 40px;
    border-right: 1px;
    font-weight: 600;
    font-size: 16px;
    border-right: 1px solid #EBE9E9;;
    color: #737373;
 }
 
 .pagination-wraper  img {
    position: absolute;
    top: 17px;
     left: 11px;
 }
 
 .pagination-item.active {
    color: #30C5BA;
 }