
/* PC*/
@media (min-width: 992px) and (max-width: 1199px) {

    /* Trang chủ */
    .intro_container,
    .footer-bottom,
    .footer-top,
    .header__bottom,
    .card__container,
    .header__top-nav {
        padding: 0 15px;
    }


    .header__bottom-title {
        width: 90%;
    }
    .header__bottom-search-box-item {
        flex: 2;
    }

    .header__bottom-search-box {
        
    }

    .search-box-item-btn {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .search-box-item-input {
        width: 100%;

    }

    .card__box-location-item {
        height: auto;
    }

    .card__box-item img.card__box-item-img {
        height : auto;
    }

    .card__box-other-services {
        margin: 30px 0 15px;
    }

    .card__box-location-item:hover .item-address-name {
        bottom: 35%;
    }

    .item-address-button a {
        width: 90%;
    }

    .card__box-other-services-item {
        flex-direction: column;
        width: 33.3333%;
        margin-left: 0;
    }

    .other-services-item-img {
        margin: 0 0 5px 42px;
    }
    .footer-img-plane {
        right: 15px;
    }

    /* Trang Giới thiệu */

    .header__top-left span {
        display: none;
    }
    
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    .card__title,
    .intro_container,
    .header__bottom {
        padding: 0 15px;
    }
    
    .header__top-nav {
        display: none;
    }


    .header__bottom-search-box {
        width: 100%;
    }

    .search-box-item-btn button {
        width: 100%;
    }

    .icon-arrow-down {
        margin-left: 3px;
    }

    .search-box-item-btn {
        flex: 1;
    }
    .search-box-item-input {
        width: 100%;
        
    }

    .card__box-other-services {
        margin: 30px 0 15px;
    }

    .card__box-other-services-item {
        flex-direction: column;
        width: 33.3333%;
        margin-left: 0;
    }

    .other-services-item-img {
        margin: 0 0 5px 42px;
    }

    .res_pc {
        display: none;
    }

    .res_tablet {
        display: block;
    }

    .search-box-item-input input {
        background: #F7F7F7;
        -webkit-appearance: none;
    }


    .card__box-item {
        width: 285px;
    }

    .box-wp {
        max-width: 100vw;
    }

    .card__box-container {
        width: 100vw;
        overflow: auto;
    }

    .card__box-container::-webkit-scrollbar {
        display: none;
    }


    .card__box {
        display: inline-flex;
        margin: 0 10px;
    }

    .card__box-location {
        display: inline-flex;
        margin: 0 10px;
    }
    .card__box-location-item {
        width: 184px;
    }

    .main-slider-hot-deals {
        padding: 0 15px;
    }

    .d_none {
        display: none;
    }

    .box__blog-traveling {
        display: block;
    }

    .box__blog-traveling-img-left {
        position: relative;
    }

    .box__blog-traveling-img-right {
        margin: 8px 0 -5px;
        display: block;
    }

    .box__blog-traveling-item {
        margin-bottom: 10px;
    }

    .box__blog-traveling-img-left,
    .box__blog-traveling-img-right {
        width: 100%;
        padding: 0 15px;
    }

    .traveling-item-img {
        width: 25%;
        
    }

    .blog-traveling-item-content {
        width: 75%;
    }

    .container-contact {
        display: block;
        padding: 0 15px;
        margin-top: 0;
    }

    .box_rating {
        width: 100%;
        height: 430px;
        margin: 25px 0;
    }

    .box_contact {
        width: 100%;
        margin-top: 25px;
        height: 350px;
    }

    .contact-form {
        position: relative;
        width: 80%;
        top: 25px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
    }

    .box-review .box-review-content {
        width: 70%;
    }

    .container-contact .box-review {
        height: 420px;
    }

    .contact-form-input input {
        width: 100%;
    }

    .contact-form button {
        width: 100%;
    }

    .disabled-title {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
    }

    
    .introduction-box {
        display: block;
    }
    .introduction-content {
        width: 100%;
    }

    .introduction-content {
        width: 100%;
    }

    .introduction-img {
        width: 100%;
    }

    .introduction-img-box {
        width: 50%;
        margin: 0 auto;
        margin-top: 70px;
    }

    .modified-title {
        padding: 0 66px !important;
    }

    .content-about-item h5 {
        padding: 0 58px;
    }

    .other-services-content p {
        width: 85%;   
    }


}

/* Mobile */
@media (max-width: 767px) {

    .d_none {
        display: none;
    }

    .hide_box {
        display: none;
    }


    .header__top-nav {
        display: none;
    }

    .header__top {
        padding-top: 0;
        background: transparent;
    }

    /* .pt30-s {
        padding-top: 0;
    }

    .pt60-s {
        padding-top: 0;
    } */

    .card__box-item {
        width: 285px;
    }

    .box-wp {
        max-width: 100vw;
    }

    .header__bottom-title {
        display: none;
    }

    .card__title h3 {
        font-size: 24px;
        padding-top: 12px;
        padding-left: 16px;
    }

    .header__bottom {
        position: relative;
        left: 0px;
        top: 0;
        right: 0px;
        height: 198px;
    }

    .header__bottom-search-box {
        flex-direction: column;
        position: absolute;
        z-index: 1010;
        background: #fff;
        margin: 0 auto;
        border-radius: 0;
        right: 0;
        top: -50%;
        left: 0;
        width: 90%;
        padding: 0 16px 15px;
    }

    .header__bottom-search-box-item {
        margin-right: 0;
        width: 100%;
        margin-top: 15px;
    }
    .search-box-item-btn {
        width: 100%;
    }

    .search-box-item-btn button {
        width: 100%;
        margin-top: 15px;
    }

    .search-box-item-input {
        width: 100%;
        margin-top: 5px;
    }

    .header__bottom-search-box-item p {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #0070B4;
    }

    .slider.slider-header div img {
        min-height: 100%;
    }

    .slider.slider-header {
        margin-top: 70px;
    }



    .card__box-container {
        width: 100vw;
        overflow: auto;
    }

    .card__box-container::-webkit-scrollbar {
        display: none;
    }

    .card__box {
        display: inline-flex;
        margin: 0 10px;
    }

    .card__box-item:hover {
        box-shadow: none;
    }

    .card__box-location {
        display: inline-flex;
        margin: 0 10px;
    }
    .card__box-location-item {
        width: 184px;
    }

    .main-slider-hot-deals {
        padding: 0 16px;
    }

    .card__box-other-services {
        display: block;
        padding: 0 15px;
        margin-top: 0;
    }

    .card__box-other-services-item {
        margin-top: 30px;
        align-items: center;
    }


    .box__blog-traveling {
        display: block;
    }

    .box__blog-traveling-img-left {
        position: relative;
    }

    .box__blog-traveling-img-right {
        margin: 3px 0 -5px;
        margin-top: 8px;
    }


    .box__blog-traveling-img-left,
    .box__blog-traveling-img-right {
        width: 100%;
        padding: 0 15px;
    }

    .traveling-item-img {
        width: 25%;
        
    }

    .blog-traveling-item-content {
        width: 75%;
    }

    .container-contact {
        display: block;
        padding: 0 15px;
        margin-top: 0;
    }

    .box_rating {
        width: 100%;
        height: 430px;
        margin: 25px 0;
    }

    .box_contact {
        width: 100%;
        background: unset;
    }

    .contact-form {
        position: relative;
        border: none;
        width: 100%;
        height: unset;
        padding: 0;
        top: 25px;
        right: 0;
        left: 0;
        bottom: 0;
        background: unset;
    }

    .contact-form h4 {
        margin: 0;
        max-width: unset;
        font-size: 18px;
    }

    .blog-traveling-item-content .item-content {
        height: 33px;
        -webkit-line-clamp: 2;  
    }

    .box-review .box-review-content {
        width: 70%;
    }

    .container-contact .box-review {
        height: 420px;
    }

    .contact-form-input input {
        width: 100%;
    }

    .contact-form button {
        width: 100%;
    }

    .disabled-title {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
    }   

    
}