@media (min-width: 768px) and (max-width: 991px) { 

    .body-content {
        display: block;
    }

    .body-content-left {
        display: none;
    }

    .body-content-right {
        width: 100%;
    }

    .card__box-item img.card__box-item-img {
        height: auto;
    }

    .content-right-sum-founded button.btn-filter {
        display: flex;
     }


}