


/* body */

.body-content {
    display: flex;
}

.body-content-left {
    width: 25%;
    margin-right: 20px;
}

.box-search {
   background: #F8F8F8;
}


.top-title-label {
   display: none;
   font-weight: 600;
        font-size: 12px;
        color: #000000;
        text-transform: uppercase;
}

.box-search h5{
    width: 100%;
    height: 40px;
    text-align: center;
    background: #0070B4;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.box-search-content {
    margin: 15px;
}

.box-search-content .input-name-location {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    height: 35px;
    outline: none;
    padding: 0 14px;
    font-size: 14px;
    color: #32363D;
}

.box-search-content .input-name-location::-webkit-input-placeholder {
    color: #A9A9A9;
    font-style: italic;
}

.box-search-content .input-name-location:-ms-input-placeholder {
    color: #A9A9A9;
    font-style: italic;
}

.box-search-content .input-name-location::placeholder {
    color: #A9A9A9;
    font-style: italic;
}

.search-input {
    margin-top: 17px;
}

.search-input:last-child {
   padding-bottom: 35px;
}

.search-input label{
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;

}

.search-input-custom {
   margin-top: 8px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    padding-left: 12px;
}

.search-input-custom img {
    width: 16px;
    height: 16px;
}

.search-input-custom .input-custom-type {
    border: none;
    margin: 0;
    background: transparent;
}

.search-input input,select {
    margin-top: 8px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    height: 36px;
    outline: none;
    padding: 0 14px;
    font-size: 14px;
    color: #32363D;
    -webkit-appearance: none;
  appearance: none;
}

.arrow-for-select {
    position: relative;
}

.search-input .arrow-for-select select {
    -webkit-appearance: none;
    appearance: none;
}

.search-input .arrow-for-select:after{
    border-right: 2px solid #737373;
    border-bottom: 2px solid #737373;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
}

.search-input .arrow-for-select:after {
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    right: 15px;
}

.search-input-value {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.search-input-value div span {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    color: #32363D;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(18, 94, 144, 0.1);
    border-radius: 8px;
    margin-top: 8px;
    width: 100%;
    height: 35px;
    display: block;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.search-input-value div span.active {
   background: #0070B4;
   color: #FFFFFF;
   /* font-weight: 600; */
}

.search-input-value div {
    padding-left: 4px;
    padding-right: 4px;
    width: 50%
    
}
.search-input-value span:hover {
   background: #0070B4;
   color: #fff;
}

.content-left-img-bottom {
   width: 100%;
   border-radius:10px ;
   overflow: hidden;
   height: auto;
   margin-bottom: 8px;
}

.content-left-img-bottom img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.body-content-right {
   width: 75%;
}

.content-right-title {
   text-align: center;
   margin-bottom: 27px;
   
}

.content-right-title h2 {
   font-weight: 600;
   font-size: 28px;
   color: #1D293F;
}

.content-right-description {
   margin-bottom: 27px;
}

.content-right-description p {
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #32363D;
}
.content-right-sum-founded {
   font-size: 14px;
   color: #000000;
   position: relative;
}

.content-right-filter {
   display: flex;
   margin-top: 28px;
   justify-content: space-between;
   border-bottom: 0.5px solid #ADADAD;
   margin-bottom: 10px;
   
}

.content-right-sum-founded button.btn-filter {
   display: none;
}

.btn-filter {
   position: absolute;
   display: none;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto 0;
   height: 35px;
   width: 140px;
   outline: none;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 5px;
   background: #0070B4;
   color: #fff;
   font-size: 14px;
}

.btn-filter img {
   margin-right: 5px;
}

.filter-title {
   font-size: 14px;
   padding-bottom: 8px;
}

.filter-choice-item{
   font-size: 16px;
   margin-left: 51px;
   padding-bottom: 5.5px;
   cursor: pointer;
}

.filter-choice-item.active {
   border-bottom: 2px solid #0070B4;
   color: #0070B4;
   font-weight: 600;
}

.filter-choice-item:hover {
   color: #0070B4;
   font-weight: 600;
   border-bottom: 2px solid #0070B4;
}



/* card-item ---------------------------------*/

.content-right-card {
   
}

.card_container {
   display: flex;
   flex-wrap: wrap;
   margin-left: -10px;
   margin-right: -10px;
}

.card-wrapper {
   padding-left: 10px;
    padding-right: 10px;
   width: 33.33333%;
   margin-top: 20px;

}

.flag-wrapper {
   position: absolute;
   background: transparent;
   border-top-left-radius: 10px;
   overflow: hidden;
   top: -1px;
   left: -1px;
   z-index: 1000;
}

.haft-square-flag {
   position: relative;
   display:inline-block;
   border-top:64px solid #DB5753;
   border-right:64px solid transparent;
   
}

.haft-square-flag span {
   position: absolute;
   transform: rotate(-45deg);
   top: -50px;
   left: 6px;
   font-size: 14px;
   text-transform: uppercase;
   color: #fff;
}

.card__box-item {
   position: relative;
   padding: 10px;
   background: #FFFFFF;
   border: 1px solid #E5E5E5;
   border-radius: 10px;
}

.card__box-item:hover{

   box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.15);
}

.card__box-item img.card__box-item-img{
   width: 100%;
   height: 178px;
   border-radius: 8px;
   cursor: pointer;
}

.card_box-infor {
   padding:9px;
}

.card__box-item-location {
   font-size: 12px;
   color: #737373;
   margin-bottom: 5px;
}

.card__box-item-name {
   height: 36px;
   overflow: hidden;
   cursor: pointer;
   display: -webkit-box; 
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

.card__box-item-name a {
   text-decoration: none;
}


.card__box-item-name h3{
   font-size: 14px;
   line-height: 17px;
   color: #32363D;
}

.card__box-item-name a:hover h3 {
   color: #125E90;;
}

.card__box-item-time {
   display: flex;
   align-items: center;
   margin-top: 3px;
   
}

.card__box-item-time img {
   margin-right: 10px;
}

.card__box-item-time .card__box-item-time-more {
   font-size: 14px;
   color: #737373;
}

.card__box-item-time .card__box-item-time-more span:first-child {
   font-weight: 600;
}

.card__box-item-price {
   display: flex;
   flex-direction: column;
   justify-content: end;
   height: 40px;
   text-align: right;
   margin-bottom: 4px;
}

.item-price-line {
   font-size: 14px;
   color: #737373;
   text-decoration: line-through;
}

.item-price-no-line {
   font-size: 18px;
   color: #D72519;
   font-weight: 600;
}

/* Phân Trang --------------------------- */

.pagination {
   margin: 65px 0;
}

.pagination-wraper{
   display: flex;
   margin: 0 auto;
   align-items: center;
   width: fit-content;
   border-top: 1px solid #EBE9E9;
   border-left: 1px solid #EBE9E9;
   border-bottom: 1px solid #EBE9E9;
}

.pagination-wraper .pagination-item {
   position: relative;
   text-decoration: none;
   display: block;
   width: 40px;
   height: 40px;
   text-align:center;
   line-height: 40px;
   border-right: 1px;
   font-weight: 600;
   font-size: 16px;
   border-right: 1px solid #EBE9E9;;
   color: #737373;
}

.pagination-item:hover {
   color: #0070B4;
}


.pagination-item.arrow {
   font-size: 13px;
}

.pagination-item.arrow.hide {
   display: none;
}

.pagination-item.active {
   color: #0070B4;
}

/* form tổ chức sự kiện */

.modal-content {
   margin: 0 auto;
}

.modal-body {
   padding: 0;
}


.btn-confirm {
   width: 100%;
   padding: 0 15px;
   margin-bottom: 30px;
   text-align: center;
}

.btn-confirm button {
   padding: 5px 30px;
   border: none;
   outline: none;
   cursor: pointer;
   background: #0070B4;;
   color: #fff;
   border-radius: 4px;
}

.btn-confirm button:hover {
   opacity: 0.9;
}

.search-input:last-child {
   padding-bottom: 15px;
}
